
@media screen and (max-width:767px){
    #Main_Noticias{
        display: none;
    }
}

#Main_Noticias{
    width: 98%;
    margin: auto;
    height:450px;
    background: radial-gradient(circle, rgba(211,211,211,1) 34%, rgba(255,255,255,1) 95%);
}
#Titulo_Noticias{
    font-size: 2rem;
    color: #504243;
    
}

#Artigo_Principal_Noticias{
    width: 100%;
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: aqua;
}
.Artigo_Filho_Noticias{
    height: 400px;
    width: 100%;
    margin: auto;
    border:1px solid black;
    background-color:white;
}
#Img_Noticia_destaque1{
    height: 400px;
    width: 90%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.348); /*Linha de cor apenas para marcação*/
}
.Div_2partes_Noticias{
    display: flex;
    height: 198px;
    border: 1px solid black;
    justify-content: center;
   
}
.Img_Noticia_destaque2{
    background-color: aqua;
    height: 200px;
}
.Img_Noticias{
    margin-top: 100px;
   margin-left: 40px;
   margin-right: 40px;
}
