
/*
#Main_Header{
    display: flex;
    width: 100%;
    margin: auto;
    height: 30px;
}

#Artigo1_Header{
    max-width: 60%;
    width: 100%;
    margin-left: 40px;
    margin-top: 5px;
}
.Icons_Artigo1_Header{
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

#Artigo2_Header{
    max-width: 40%;
    width: 100%;
    margin-top: 5px;
}
.Icons_Artigo2_Header{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}*/

@media screen and (max-width:767px){
    #Main_Header{
        text-align: center;
        display: flex;
        width: 100%;
        margin: auto;
        height: 30px;
        
    }
    
    #Artigo1_Header{
        max-width: 35%;
        width: 100%;
        margin-top: 5px;
    }
    .Icons_Artigo1_Header{
        margin-left: 10px;
        text-decoration: none;
        color: black;
    }
    
    #Artigo2_Header{
        max-width: 65%;
        width: 100%;
        margin-top: 5px;
        font-size: 15px;
    }
    .Icons_Artigo2_Header{
        margin-left: 10px;
        text-decoration: none;
        color: black;
    }

}

@media screen and (min-width:768px){
    #Main_Header{
        max-width: 1400px;
        text-align: center;
        display: flex;
        width: 100%;
        margin: auto;
        height: 30px;
    }
    
    #Artigo1_Header{
        max-width: 35%;
        width: 100%;
        margin-top: 5px;
    }
    .Icons_Artigo1_Header{
        margin-left: 10px;
        text-decoration: none;
        color: black;
    }
    
    #Artigo2_Header{
        max-width: 65%;
        width: 100%;
        margin-top: 5px;
        font-size: 15px;
    }
    .Icons_Artigo2_Header{
        margin-left: 10px;
        text-decoration: none;
        color: black;
    }

}

@media screen and (max-width:767px){
    #Main_Header{
        text-align: center;
        display: flex;
        width: 100%;
        margin: auto;
        height: 30px;
    }
    
    #Artigo1_Header{
        width: 100%;
        margin-top: 5px;
    }
    .Icons_Artigo1_Header{
        margin-left: 10px;
        text-decoration: none;
        color: black;
    }
    
    #Artigo2_Header{
        display: none;
    }
    

}